<div class="report_container" id="<%= title_id %>">
  <h2>
    <span class="group_name" style="color:#9a3221"><%= sub_report[:title] %></span>
  </h2>
  <% sub_report[:items].each do |author_name, author_stats| %>
    <h3 style="color:#167048"><%= author_name %></h3>
    <table class="report_content">
      <thead>
        <tr>
          <th>    file name</th>
          <th style="text-align:right">covered</th>
          <th style="text-align:right">missed</th>
          <th style="text-align:right">total</th>
          <th style="text-align:right">coverage</th>
        </tr>
      </thead>
      <tbody>
      <% author_stats[:files].each do |file, file_stats| %>
        <tr>
          <td><%= link_to_source_file(file) %></td>
          <td style="text-align:right"><%= file_stats[:covered] %></td>
          <td style="text-align:right"><%= file_stats[:missed] %></td>
          <td style="text-align:right"><%= file_stats[:total] %></td>
          <td style="text-align:right"><%= (file_stats[:coverage] + 0.5).floor %></td>
        </tr>
      <% end %>
      <tr>
        <td><h4 style="color:#2f1408"><%= "Coverage Summary" %></h4></td>
        <td style="text-align:right"><%= author_stats[:total_coverage][:covered] %></td>
        <td style="text-align:right"><%= author_stats[:total_coverage][:missed] %></td>
        <td style="text-align:right"><%= author_stats[:total_coverage][:total] %></td>
        <td style="text-align:right"><%= (author_stats[:total_coverage][:coverage] + 0.5).floor %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>
