<div class="summary-stats">
  <div class="t-line-summary">
    Line coverage: <span class="<%= coverage_css_class(@_summary[:line][:pct]) %>"><b><%= sprintf("%.2f", @_summary[:line][:pct].floor(2)) %>%</b></span><span class="coverage-cell__fraction"> <%= @_summary[:line][:covered] %>/<%= @_summary[:line][:total] %> relevant lines covered</span><% if @_summary[:line][:missed] > 0 %><span class="coverage-cell__fraction">,</span>
    <span class="red"><b><%= @_summary[:line][:missed] %></b> missed</span><% end %>
  </div>
<%- if branch_coverage? -%>
  <div class="t-branch-summary">
    Branch coverage: <span class="<%= coverage_css_class(@_summary[:branch][:pct]) %>"><b><%= sprintf("%.2f", @_summary[:branch][:pct].floor(2)) %>%</b></span><span class="coverage-cell__fraction"> <%= @_summary[:branch][:covered] %>/<%= @_summary[:branch][:total] %> covered</span><% if @_summary[:branch][:missed] > 0 %><span class="coverage-cell__fraction">,</span>
    <span class="missed-branch-text"><b><%= @_summary[:branch][:missed] %></b> missed</span><% end %>
  </div>
<%- else -%>
  <div class="t-branch-summary">
    Branch coverage: <span class="coverage-disabled">disabled</span>
  </div>
<%- end -%>
<%- if method_coverage? -%>
  <div class="t-method-summary">
    Method coverage: <span class="<%= coverage_css_class(@_summary[:method][:pct]) %>"><b><%= sprintf("%.2f", @_summary[:method][:pct].floor(2)) %>%</b></span><span class="coverage-cell__fraction"> <%= @_summary[:method][:covered] %>/<%= @_summary[:method][:total] %> covered</span><% if @_summary[:method][:missed] > 0 %><span class="coverage-cell__fraction">,</span>
<%- if @_summary[:show_method_toggle] -%>
    <a href="#" class="t-missed-method-toggle"><b><%= @_summary[:method][:missed] %></b> missed</a>
<%- else -%>
    <span class="missed-method-text-color"><b><%= @_summary[:method][:missed] %></b> missed</span>
<%- end -%>
<%- end -%>
  </div>
<%- else -%>
  <div class="t-method-summary">
    Method coverage: <span class="coverage-disabled">disabled</span>
  </div>
<%- end -%>
</div>
