<div class="source_table" id="<%= id source_file %>">
  <table>
    <thead>
    <tr>
      <td colspan="3">
        <h3><%= shortened_filename source_file %></h3>
        <h4><span class="<%= coverage_css_class(source_file.covered_percent) %>"><%= source_file.covered_percent.round(2).to_s %> %</span> covered</h4>
      </td>
    </tr>
    <tr>
      <th>#</th>
      <th></th>
      <th>Hits</th>
    </tr>
    </thead>
    <tbody>
  <% source_file.lines.each do |line| %>
    <% classname = line.coverage ? (line.coverage > 0 ? 'hit' : 'miss') : 'never' %>
    <tr class="<%= classname %>" <%= line.coverage ? "data-hits=\"#{line.coverage}\"" : '' %>>
      <td class="line_number">
        <pre><%= line.number %></pre>
      </td>
      <td>
        <pre><%= CGI.escapeHTML(line.src.chomp) %></pre>
      </td>
      <td class="hits">
        <%= line.coverage %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>